.screen-pause {
  z-index: var(--fl-z-menu);
}

.fl-app[data-screen="pause"] #screen-pause {
  opacity: 1;
  pointer-events: auto;
}

.menu-panel-pause {
  position: absolute;
  top: 50%;
  right: 8%;
  transform: translateY(-50%);
}
