<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="FrozenLandsLogLevel">${sys:frozenlands.log.level:-info}</Property>
        <Property name="ExternalLogLevel">${sys:frozenlands.external.log.level:-error}</Property>
        <Property name="ConsolePattern">%style{%d{HH:mm:ss.SSS}}{black} %style{FrozenLands}{bright blue} %highlight{%-5level}{FATAL=bright red, ERROR=red, WARN=yellow, INFO=green, DEBUG=cyan, TRACE=blue} %style{[%t]}{blue} %style{%logger{42}}{magenta} - %msg%n%throwable</Property>
        <Property name="FilePattern">%d{yyyy-MM-dd HH:mm:ss.SSS} [FrozenLands] [%t] %-5level %logger{96} - %msg%n%throwable</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${ConsolePattern}" disableAnsi="false" noConsoleNoAnsi="false"/>
        </Console>
        <File name="File" fileName="logs/latest.log">
            <PatternLayout pattern="${FilePattern}"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="com.jme3" level="${ExternalLogLevel}" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Logger>
        <Logger name="jme3utilities" level="${ExternalLogLevel}" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Logger>
        <Logger name="org.lwjgl" level="${ExternalLogLevel}" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Logger>
        <Logger name="com.github.stephengold" level="${ExternalLogLevel}" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Logger>
        <Logger name="org.takesome.frozenlands" level="${FrozenLandsLogLevel}"/>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>
